*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    height: 15vh;
    text-align: center;
    color:white;
    background-color: black;
    font-weight: bold; 
    font-family:Verdana, Geneva, Tahoma, sans-serif;
   font-size: 250%;
   padding-top: 2.5vh;
}
